*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-size: 14px;
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    background-color: #848484;
}

header {
    margin: 10px;
    margin: 0.714285714rem;
    border: 1px solid black;
    padding: 10px;
    padding: 0.714285714rem;
}

header h1 {
    font-size: 32px;
    font-size: 3rem;
    color: #000000;
    text-shadow: -1px -1px white, 1px 1px #333;
    font-family: 'Alfa Slab One', cursive;
}

header, section article, aside {
    margin: 10px;
    margin: 0.714285714rem;
    border: 1px solid black;
    padding: 10px;
    padding: 0.714285714rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 7px rgba(0,0,0,0.5);
    -webkit-box-shadow: 4px 4px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 7px rgba(0,0,0,0.5);
    color: #000000;
}

ul {
    margin-left: 20px;
    margin-left: 1.428571429rem;
}

section {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

aside {
    width: 30%;
    display: inline-block;
    margin-left: 0;
    vertical-align: top;
}

footer {
    background: #ddd;
    font-size: 12px;
    font-size: 0.857142857rem;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-left: 0;
}

selector:pseudo-clase {
    propiedad: valor;
}

a {
    color: blue;
    text-decoration: none;
}

    a:hover {
        color: red;
        text-decoration: underline;
    }

input {
    margin-left: 10px;
    border: 5px solid grey;
    width: 96%;
}

    input:focus {
        border: 3px solid blue;
    }