body {
    background-color:rgba(255, 255, 255, 0.883)
}

header img {
    border-radius: 15%;
}

h1 {
    color: rgb(37, 0, 41);
}

h3 {
    font-family: 'Franklin Gothic Medium',  Arial, sans-serif;
    text-shadow: 1.5px 1.5px 1px oldlace;
}

h2 {
    font-size: 17px;
}

.Este {
    text-shadow: 1px 1px 0.5px oldlace;
} 

p {
    font-family: monospace;
}

div {
    margin 3%;
    padding: 8%;
    border: 3px black;
}